{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": 3 }, "react"],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "corejs": 3 }],
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    "react-hot-loader/babel" //  React 模块热替换
  ]
}
